<div class="container debug">
    <h1 class="h1">Debug</h1>
    <form id="hostname">
        <div class="form-group form-inline">
            <label for="hostname">hostname</label>
            <input type="text" name="hostname" placeholder="hostname" class="form-control">
            <input type="text" name="port" placeholder="port" class="form-control small-input">
            <input type="submit" class="btn btn-default">
        </div>


        <button class="shoot-button btn btn-main btn-danger" id="shoot-button" type="button"><i class="glyphicon glyphicon-camera"></i></button>

    </form>

    <form id="slave-module-configuration" class="container-fluid">
        <div class="row">
        <h3 class="h3">Configurations des caméras</h3>

        <button type="button" data-action="get_status" class="btn btn-default config-button">Status</button>
        <button type="button" data-action="toggle_preview" class="btn btn-default config-button">Toggle Preview</button>
        <button type="button" data-action="reset_shooting" class="btn btn-default config-button">Reset shooting</button>

                <div class="form-inline">
                    <label for="auto-save">Sauvegarde automatique</label>
                    <input name="auto-save" type="checkbox" class="form-check-input" />
                </div>
        <div id="logger" class="logger">

        </div>

        <div>
            <h3>fonction d'affichage</h3>
            <fieldset>
                <button type="button" data-action="display_home" class="btn btn-default config-button">Home</button>
                <button type="button" data-action="display_mire" class="btn btn-default config-button">Mire</button>
                <button type="button" data-action="display_last_image" class="btn btn-default config-button">dernière image</button>
                <button type="button" data-action="display_flash" class="btn btn-default config-button">flash</button>
                <button type="button" data-action="go_home" class="btn btn-default config-button">GO HOME (iPad)</button>
            </fieldset>
            <hr>
        </div>

        <fieldset class="previews">
            {{#for 0 9 1}}
                <div class="slave-module cm{{this}} col-md-2">
                    <h5 class="h5"><span class="status"></span>slave-module-{{this}}</h5>
                </div>
            {{/for}}
        </fieldset>


        <fieldset class="">

            {{#each cameraFields}}

            <div class="form-group col-md-4">
                <div class="container-fluid">
                    <label for="{{id}}">{{label}}</label>
                    {{#if options}}
                        <select class="form-control" name="{{id}}">
                            {{#each options}}
                                <option value="{{this}}" label="{{this}}"></option>
                            {{/each}}
                        </select>
                    {{else}}

                        {{#ifequal type "boolean"}}
                            <input class="" type="checkbox" name="{{id}}" />
                        {{/ifequal}}

                        {{#ifequal type "number"}}
                            <input class="form-control" type="number" name="{{id}}" min="{{min}}" max="{{max}}" step="{{step}}" data-slider-min="{{min}}" data-slider-max="{{max}}" data-slider-step="{{step}}" data-slider-tooltip="always" data-slider-tooltip-position="bottom" />
                        {{/ifequal}}

                        {{#ifequal type "range"}}
                            <div class="form-control">
                                <input class="slider" type="range" name="{{id}}" min="{{min}}" max="{{max}}" step="{{step}}" data-slider-min="{{min}}" data-slider-max="{{max}}" data-slider-step="{{step}}" data-slider-tooltip="always" data-slider-tooltip-position="bottom" />
                            </div>
                        {{/ifequal}}

                    {{/if}}
                </div>
            </div>

            {{/each}}

        </fieldset>
        </div>

        <div>
            <h3>fonction avancées</h3>
            <fieldset>
                <button type="button" data-action="purge_cache" class="btn btn-default config-button">Purger les caches</button>
                <button type="button" disabled data-action="restart_camera" class="btn btn-default config-button">Redémarrer la camera</button>
                <button type="button" data-action="get_camera_options" class="btn btn-default config-button">Synchroniser</button>
                <button type="button" data-action="set_camera_options" class="btn btn-default config-button">Sauvegarder</button>
            </fieldset>
            <hr>
        </div>
    </form>

    <script>
        var form_autosubmit = false;
    </script>

</div>