<div class="container step-{{step}}">
    <form id="step-form" action="{{nextStepAction}}" method="post" class="step-form">
        <h1 class="h1">{{topic}}
            <!-- <small>{{stepNumber}}/{{totalStep}}</small> -->
        </h1>
        <hr class="horizontal-line">
        <!-- responses -->
        {{#each responses}}
               <input type="hidden" name="{{@key}}" value="{{this}}">
        {{/each}}

        <!-- questions -->
        {{#each fields}}

            <fieldset class="form-group">

                <label for="field-{{id}}" class="field-{{type}}">{{label}}</label>

                {{#ifvalue type value="text"}}
                <input id="field-{{id}}" name="{{id}}" type="text" placeholder="{{placeholder}}" class="form-control" value="{{response}}" />
                {{/ifvalue}}

                {{#ifvalue type value="textarea"}}
                <textarea id="field-{{id}}" rows="{{rows}}" name="{{id}}" type="text" placeholder="{{placeholder}}" class="form-control" ></textarea>
                {{/ifvalue}}

                {{#ifvalue type value="radio"}}
                    {{#each choices}}
                            <input class="input-hidden" id="field-{{id}}-{{index}}" name="{{id}}" value="{{value}}" type="radio" {{checked}} />
                            <label class="choice" for="field-{{id}}-{{index}}">
                                {{label}}
                            </label>
                    {{/each}}
                {{/ifvalue}}

                {{#ifvalue type value="camera-shooter"}}

                    <div class="shoot-message">
                        <p>
                            <span class="icon icon-tabouret"></span>
                            Réglez votre siège afin que votre visage
                            <br>apparaisse dans l’écran devant vous.
                            <br>Vos yeux doivent se retrouver en face de la mire.
                        </p>
                    </div>

                    <div class="shoot-message">
                        <p>
                            <span class="icon icon-push-button"></span>
                            En cliquant sur le bouton ci-dessous,
                            <br>un compte à rebours de 3 secondes se lancera
                            <br>et une photo sera prise.
                        </p>

                        <button class="shoot-button btn red-button" id="shoot-button" type="button">CLIQUEZ-ICI POUR LANCER <br> LE COMPTE À REBOURS</button>

                    </div>

                    <div class="shot-warning-message">

                        <strong>
                            <span class="icon-arrow"></span>
                        </strong>

                    </div>

                    <div class="display-progress">

                        <strong>
                            <span class="message">Veuillez patienter...</span>
                            <span class="progress"></span>
                        </strong>

                    </div>


                {{/ifvalue}}

            </fieldset>

        {{/each}}
        <!-- <hr /> -->

        <div class="form-group clearfix step-navigation">
        {{#if prevStep}}
            <button id="btn-back" data-action="{{prevStepAction}}" type="submit" class="btn red-button pull-left">étape précédente</button>
        {{/if}}
            <script>

                var form_autosubmit = {{autosubmit}};

            </script>
        {{#if nextStep}}
            {{#if autosubmit}}
                <!-- nothing -->
            {{else}}
                <input class="btn red-button pull-right" type="submit" value="étape suivante" >
            {{/if}}
        {{/if}}
        </div>
    </form>

    <!-- <hr /> -->
    <a class="reset" href="/">Recommencer depuis le début.</a>

    <div class="form-progress"><div class="progress-bar step-{{stepNumber}}"></div></div>
</div>
