<div class="container step-{{step}}">
    <form id="step-form" action="{{nextStepAction}}" method="post" class="step-form">
        <h1 class="h1">{{topic}}
            <!-- <small>{{stepNumber}}/{{totalStep}}</small> -->
        </h1>
        <hr class="horizontal-line">
        <!-- responses -->
        {{#each responses}}
               <input type="hidden" name="{{@key}}" value="{{this}}">
        {{/each}}

        <!-- questions -->
        {{#each fields}}

            <fieldset class="form-group">

                <label for="field-{{id}}" class="field-{{type}}">{{label}}</label>

                {{#ifvalue type value="text"}}
                <input id="field-{{id}}" name="{{id}}" type="text" placeholder="{{placeholder}}" class="form-control" value="{{response}}" />
                {{/ifvalue}}

                {{#ifvalue type value="textarea"}}
                <textarea id="field-{{id}}" rows="{{rows}}" name="{{id}}" type="text" placeholder="{{placeholder}}" class="form-control" ></textarea>
                {{/ifvalue}}

                {{#ifvalue type value="radio"}}
                    {{#each choices}}
                            <input class="input-hidden" id="field-{{id}}-{{index}}" name="{{id}}" value="{{value}}" type="radio" {{checked}} />
                            <label class="choice" for="field-{{id}}-{{index}}">
                                {{label}}
                            </label>
                    {{/each}}
                {{/ifvalue}}

                {{#ifvalue type value="camera-shooter"}}
                    <button class="shoot-button btn btn-main btn-danger" id="shoot-button" type="button"><i class="glyphicon glyphicon-camera"></i></button>
                    <p>{{description}}</p>
                    <div class="preview">

                        <div class="pv" id="pv-0-a"></div>

                        {{#for 1 9 1}}
                            <div class="pv" id="pv-{{this}}-a"></div>
                            <div class="pv" id="pv-{{this}}-b"></div>
                        {{/for}}

                    </div>
                {{/ifvalue}}

            </fieldset>

        {{/each}}
        <!-- <hr /> -->

        <div class="form-group clearfix">
        {{#if prevStep}}
            <button id="btn-back" data-action="{{prevStepAction}}" type="submit" class="btn red-button pull-left">étape précédente</button>
        {{/if}}
            <script>

                var form_autosubmit = {{autosubmit}};

            </script>
        {{#if nextStep}}
            {{#if autosubmit}}
                <!-- nothing -->
            {{else}}
                <input class="btn red-button pull-right" type="submit" value="étape suivante" >
            {{/if}}
        {{/if}}
        </div>
    </form>

    <!-- <hr /> -->
    <a class="reset" href="/">Recommencer depuis le début.</a>

    <div class="form-progress"><div class="progress-bar step-{{stepNumber}}"></div></div>
</div>
